altair
annotated-types
asgiref
asttokens
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
cmake
colorama
confection
contourpy
cycler
cymem
deep-translator
dj-database-url
Django
dlib
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
et-xmlfile
executing
filelock
fonttools
fsspec
funcy
gensim
gitdb
GitPython
googletrans
h11
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
imutils
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
langcodes
language_data
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
murmurhash
networkx
nltk
numexpr
numpy
opencv-python
openpyxl
packaging
pandas
parso
pillow
preshed
prompt_toolkit
protobuf
pure_eval
pyarrow
pydantic
pydeck
Pygments
pyLDAvis
pyparsing
python-dateutil
python-pptx
pytz
regex
requests
rich
scikit-learn
scipy
seaborn
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
streamlit
sympy
tenacity
thinc
threadpoolctl
torch
tqdm
traitlets
transformers
typer
typing_extensions
urllib3
wasabi
watchdog
wcwidth
wordcloud
wrapt
XlsxWriter
